<div data-role="header">
  <h1>Football Flick</h1>
</div>

<div data-role="content" class = "ui-content homepage-colour" role="main">
  <div id="videos" class="container">
    <div class="row sixteen columns icon-padding" align="center">
      <a href="/videos">
      <img src="/assets/john.jpg" class="row sixteen column" height="50%" width="100%"/>
      </a>
    </div>

    <div class="row eight columns no-overflow icon-padding" align="center">
      <img src="/assets/3star.jpg" class="row eight column" height="50%" width="100%"></img>
    </div>
    <div class="row eight columns icon-padding" align="center">
      <img src="/assets/uploadtest.jpg" class="row eight column" height="50%" width="100%"></img>
    </div>
  </div>

</div>
