
<div><%= button_to  "Video Of the Week", videos_url, :method => "get"%></div>
<div><%= button_to "John's Video", videos_url, :method => "get"%></div>
<div><%= button_to "User's Video", videos_url, :method => "get"%></div>