<!--<div data-role="header"  class="headerLogo">-->
  <!--&lt;!&ndash;<img src="/assets/HeaderLogo.png"/>&ndash;&gt;-->
<!--</div>-->

<!--<div class="row eight columns headerLogo">-->
  <!--<img src="/assets/HeaderLogo.png" height="50px" />-->
<!--</div>-->

<div data-role="content" class="ui-content white-background" role="main">
  <div id="videos" class="container">
    <div class="row sixteen columns icon-padding" align="center">
        <img src="/assets/UrbanLogo.png" height="30%" width="30%"/>
    </div>
    <div class="row sixteen columns icon-padding center-vertical" align="center">
      <a href="/videos" style="text-decoration:none">

        <img src="/assets/award.png" height="7%" width="7%" float="left" class="center-vertical"/>
        <span class="orange-font">Video Of The Week</span>
      </a>
    </div>
    <div class="row sixteen columns icon-padding center-vertical" align="center">
      <a href="/videos" style="text-decoration:none">
        <img src="/assets/list.png" height="7%" width="7%" float="left" class="center-vertical"/>
        <span class="orange-font">&nbsp;List Of Videos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </a>
    </div>
  </div>
</div>
