<div class="container footer-padding">
  <div id="home-page" class="sixteen columns" align="center">
    main area
  </div>
</div>
<%= button_to  "Video Of the test", videos_url, :method => "get"%>
<div id="buttons" class="footer">
  <form action="/videos" class="button_to override-button" method="get">
      <input type="submit" value="Video Of the Week" class="button-full">
  </form>
  <form action="/videos" class="button_to override-button" method="get">
      <input type="submit" value="John vids" class="button-full">
  </form>
</div>