<div class="row sixteen columns icon-padding" align="center">
  <a href="/videoofweeks" style="text-decoration:none">
    <img src="/assets/award.png" width="7%" float="left" class="center-vertical"/>
    <span class="orange-font fontstyle">Video Of The Week</span>
  </a>
</div>

<div class="row sixteen columns icon-padding" align="center">
  <a href="/videos" style="text-decoration:none">
    <img src="/assets/list.png" width="7%" float="left" class="center-vertical"/>
    <span class="orange-font fontstyle">&nbsp;List Of Videos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </a>
</div>

<div class="row sixteen columns image-padding" align="center">
  <div id="urban-logo">
    <img src="/assets/urban2.png" width="50%"/>
  </div>
</div>




