<div class="container footer-padding">
  <div id="home-page" class="sixteen columns" align="center">
    main area
  </div>
</div>
<div id="buttons" class="footer">
  <form>
      <button id="vow" class="override-button">Video of the week</button>
      <button id="jv" class="override-button">John's video</button>
  </form>
</div>