<div id="video-of-week" class="row columns sixteen " align="center">
  <div align="center" id="VideoOfTheWeek" class="show-spinner"></div>
  <div id="video" class="sixteen columns video" align="center"></div>
</div>
