<div >
  <style>
      .ui-page { background: white;}
  </style>
  <div id="videos" class="container">
    <div class="row sixteen columns icon-padding" align="center">
        <img src="/assets/UrbanLogo.png" height="50%" width="50%"/>
    </div>

    <div class="row sixteen columns icon-padding" align="center">
      <a href="/videos/1" style="text-decoration:none">
        <img src="/assets/award.png" height="7%" width="7%" float="left" class="center-vertical"/>
        <span class="orange-font fontstyle">Video Of The Week</span>
      </a>
    </div>

    <div class="row sixteen columns icon-padding" align="center">
      <a href="/videos" style="text-decoration:none">
        <img src="/assets/list.png" height="7%" width="7%" float="left" class="center-vertical"/>
        <span class="orange-font  fontstyle">&nbsp;List Of Videos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </a>
    </div>
  </div>
</div>



