<div class="homepage-color">
  <div class="row eight columns headerLogo">
    <img src="/assets/HeaderLogo.png" height="50px"/>
  </div>

    <div id="video" class="container" align="center">
      <!--Added the css overlay tile for the video name. will require some css adjustments. But this is basic structure-->

      <!--<div class='description'>-->
           <!--<span class='description_content'>Video Title</span>-->
      <!--</div>-->

    </div>

  <div class="myFooter">
    <div class="button-size">
      <a href="#" style="text-decoration: none" class="orange-font nav-button">
        <span align="center">Upload</span>
      </a>
    </div>
    <div class="button-size-two ">
      <a href="/videos/1" style="text-decoration: none" class="orange-font nav-button">
        <span align="center">Video of the week</span>
      </a>
    </div>
  </div>

</div>
