<div id="video" class="sixteen columns" align="center">
  <!--Added the css overlay tile for the video name. will require some css adjustments. But this is basic structure-->

  <!--<div class='description'>-->
  <!--<span class='description_content'>Video Title</span>-->
  <!--</div>-->

</div>

<script type="text/javascript">

   </script>