<div data-role="header">
  <h1 color="white">Football Flick</h1>
</div>

<div data-role="content" class = "ui-content" role="main">
  <div id="videos" class="container">
    <% @videos.each do |video| %>
        <div class="five columns" align="center">

          <div class="row thumbnail-photo wrapper">
            <a href=<%=video_path(video) %>>
              <img src="/assets/<%= video.icon %>">
              </img>
            </a>
            <div class='description'>
              <p class='description_content'><%= link_to video.title%></p>
            </div>
          </div>

        </div>
    <%end%>
  </div>
</div>

<div data-role="footer" data-id="foo1" data-position="fixed" class="ui-footer ui-bar-a ui-footer-fixed slideup ui-fixed-hidden" role="contentinfo">
  <div data-role="navbar" class="ui-navbar ui-mini" role="navigation"">
  <ul>
    <li><a href="#">One</a></li>
    <li><a href="#">Two</a></li>
  </ul>
</div><!-- /navbar -->
</div><!-- /footer -->
</div>