<div id="page" class="page-padding">
  <div id="videos-list" class="container round-page">

    <div class="row sixteen columns headerLogo round-logo">
      <img src="/assets/HeaderLogo.png" height="100%" width="80%"/>
    </div>

    <div id="video" class="sixteen columns" align="center">
      <!--Added the css overlay tile for the video name. will require some css adjustments. But this is basic structure-->

      <!--<div class='description'>-->
      <!--<span class='description_content'>Video Title</span>-->
      <!--</div>-->

    </div>
  </div>
</div>

<script type="text/javascript">

    lc.settings = { 'account_id':1584 };

    $(document).ready(function () {
        lc({'tag':'Football'}).isReady(function () {
            var listLength = lc(this).length;
            var listOfWidgets = lc(this);
            var divTag = document.getElementById('video');

            for (var i = 0; i < listLength; i++) {
                try {
                    var divTest = document.createElement("div");
                    divTest.className = "columns five";
                    divTest.id = "video-list" + i;
                    divTag.appendChild(divTest)

                    lc(this).getByIndex(i).getThumbnail({'width':260, 'height':120})
                            .appendTo(divTest)
                            .click(function () {
                                window.location = 'videos/' + $(this).attr("widget_id");
                            });
                } catch (e) {

                }
            }
        });
    });

</script>