<div id="video" class="sixteen columns" align="center">
  <!--Added the css overlay tile for the video name. will require some css adjustments. But this is basic structure-->

  <!--<div class='description'>-->
  <!--<span class='description_content'>Video Title</span>-->
  <!--</div>-->

</div>

<script type="text/javascript">

    lc.settings = { 'account_id':1584 };

    $(document).ready(function () {
        lc({'tag':'Football'}).isReady(function () {
            var listLength = lc(this).length;
            var listOfWidgets = lc(this);
            var videoDiv = document.getElementById('video');

            for (var i = 0; i < listLength; i++) {
                try {
                    var videoListDiv = document.createElement("div");
                    videoListDiv.className = "columns five";
                    videoListDiv.id = "video-list" + i;
                    var thumbnailDiv = document.createElement("div");
                    thumbnailDiv.className = "video-list-box";
                    videoListDiv.appendChild(thumbnailDiv)
                    videoDiv.appendChild(videoListDiv)

                    lc(this).getByIndex(i).getThumbnail({'width':260, 'height':120})
                            .appendTo(thumbnailDiv)
                            .click(function () {
                                window.location = 'videos/' + $(this).attr("widget_id");
                            });
                } catch (e) {

                }
            }
        });
    });

</script>