<div class="container footer-padding">
    <div id="videos-page" class="sixteen columns" align="center">
        <div id="video-title" align="center">
          <h3>this page</h3>
        </div>

      <script type="text/javascript" src="http://sv.liveclicker.net/service/getEmbed?client_id=1584&widget_id=1711429421&width=640&height=360&player_custom_id=1"></script>


        <div id="description-box" class="box">
            <p><%= @videos.description%> </p>
        </div>
    </div>
</div>

<div id="buttons" class="footer">
  <form>
    <button id="vow" class="override-button">Video of the week</button>
    <button id="jv" class="override-button">John's video</button>
  </form>
</div>
<!--style="display:block;width:425px;height:300px;margin:10px auto"-->