<%= javascript_include_tag 'swfobject' %>
<div class="container footer-padding">

</div>




<div id="buttons" class="footer">
  <form>
    <button id="vow" class="override-button">Video of the week</button>
    <button id="jv" class="override-button">John's video</button>
  </form>
</div>
<!--style="display:block;width:425px;height:300px;margin:10px auto"-->