<div class="container footer-padding">
    <div id="videos-page" class="sixteen columns" align="center">
        <div id="video-title" align="center">
          <h3>this page</h3>
        </div>
      <script src=""

        <div id="description-box" class="box">
            <p><%= @videos.description%> </p>
        </div>
    </div>
</div>

<div id="buttons" class="footer">
  <form>
    <button id="vow" class="override-button">Video of the week</button>
    <button id="jv" class="override-button">John's video</button>
  </form>
</div>
<!--style="display:block;width:425px;height:300px;margin:10px auto"-->