<div id="videos-page" class="sixteen columns" align="center">
  <div id="show-videos" align="center" class="show-spinner"></div>
</div>

<div id="descriptionbox" class="sixteen columns" align="center">
  <div id="description-box" class="fontstyle">
    <p><%= @description %></p>
  </div>
</div>

