<div class="homepage-color">
  <div class="row eight columns headerLogo">
    <img src="/assets/HeaderLogo.png" height="50px"/>
  </div>

  <div class="container footer-padding">
    <div id="videos-page" class="sixteen columns" align="center">
      <div id="video-title" align="center">
        <h3 class="orange-font titlesize fontstyle"></h3>
      </div>
      <div id="show-videos" align="center" class="show-spinner"></div>
    </div>
    <div id="descriptionbox" class="sixteen columns" align="center">
      <div id="description-box" class="fontstyle">
        <p class="box"></p>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
    lc.settings = { 'account_id':1584 };
    var path = window.location.pathname;
    path = path.substring(8);
    $(document).ready(function () {
        lc({'widget_id':path}).isReady(function () {
            lc(this).getByIndex(0).getPlayer({'player_id':379, 'width':420, 'height':240}).appendPlayerTo({'id':'show-videos'});

        });
    });
</script>
