<div class="homepage-color">
  <div class="row eight columns headerLogo">
    <img src="/assets/HeaderLogo.png" height="50px"/>
  </div>

  <div class="container footer-padding">
    <div id="videos-page" class="sixteen columns" align="center">
      <div id="video-title" align="center">
        <h3 class="orange-font titlesize fontstyle"><%= @videos.title %></h3>
      </div>
      <div id="video"></div>
    </div>
    <div id=" descriptionbox" class="sixteen columns" align="center">
      <div id="description-box" class="fontstyle">
        <p class="box"><%= @videos.description %></p>
      </div>
    </div>
  </div>

  <div class="myFooter">
    <div class="button-size">
      <a href="#" style="text-decoration: none" class="orange-font nav-button">
        <span align="center">Upload</span>
      </a>
    </div>
    <div class="button-size-two">
      <a href="/videos/1" style="text-decoration: none" class="orange-font nav-button">
        <span align="center">Video of the week</span>
      </a>
    </div>
  </div>
</div>