<div class="container">
    <div id="header" align="center"><h1>Football Flick</h1></div>

    <div id="videos" class="container">
        <% @homes.each do |home| %>
            <div class="five columns" align="center">
              <a href="/videos/1"><!--pass in clicked id-->

              </a>
              <div class="row thumbnail-photo">
                <%= link_to home.title,home_path(home) %>

                  <%= link_to image_tag(home.icon) ,home_path(home) %>

              </div>
            </div>
        <%end%>
    </div>

    <div id="footer">
        <br/>footer
    </div>
</div>