// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.no-overflow{
  overflow-x:hidden;
}

.thumbnail-photo{
  width: 239px;
  height: 179px;
}

.icon-padding{
  padding-bottom: 10px;
}

.center-vertical{
  vertical-align:middle;
}

.white-background{
  background-color: #ffffff;
}