// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-overflow{
  overflow-x:hidden;
}

.box {
  border: 3px solid black;
}

.img {
  vertical-align: middle;
  height: 100%;
}
  #scale-up {
  height: 200px;
  width: 700px;
}
#scale-down {
  height: 200px;
  width: 100px;
}