<!DOCTYPE html>
<html>
<head>
  <title>Footballflick</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--<link href="tutorial1.jpg" type="image/vnd.microsoft.icon" rel="icon">-->
  <!--<link href="tutorial1.jpg" type="image/x-icon" rel="shortcut icon">-->
  <!--<link rel="shortcut icon" href="/Users/scowley/Projects/FootballFlickWebApp/app/assets/images/FootballFlickFavicon.ico">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/assets/bootstrap-carousel.js"></script>
  <script>
    $(document).ready(function(){
        $('.carousel').carousel({
            interval:2000
        });
    });

  </script>
  <script type="text/javascript" src="http://edge.liveclicker.net/scripts/jquery.liveclicker.v1-23_c.js"></script>

</head>
<body class="grass-background">

<div id="page" class="page-padding">
  <div id="page-container" class="container round-page">

    <div class="row sixteen columns headerLogo round-logo">
      <a href="/">
        <img src="/assets/HeaderLogo.png" width="80%"/>
      </a>
    </div>

    <%= yield %>

  </div>
</div>

</body>
</html>
