<!DOCTYPE html>
<html>
<head>
  <title>Footballflick</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--<link href="tutorial1.jpg" type="image/vnd.microsoft.icon" rel="icon">-->
  <!--<link href="tutorial1.jpg" type="image/x-icon" rel="shortcut icon">-->
  <!--<link rel="shortcut icon" href="/Users/scowley/Projects/FootballFlickWebApp/app/assets/images/FootballFlickFavicon.ico">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="grass-background">
<div id="overlay"></div>
<div id="page" class="page-padding">
  <div id="page-container" class="container round-page">
    <div class="headerLogo round-logo">
      <a href="/">
        <img src="/assets/HeaderLogo.png"/>
      </a>
    </div>

    <div id="checkout" class="hidden">
      <ol>
        <li>England - £10</li>
        <li>Scotland - £20</li>
        <li>Wales - £30</li>
        <li>Ireland - £40</li>
      </ol>
      <form id="checkoutConfirmation">
        <input id="checkoutCheckbox" type="checkbox" name="termsAndConditionsCheckbox" value="accept">Click here to confirm you have read and understood our T&C's
      </form>
      <form action="">
        <input type="button" name="submit" value="I Agree" class="checkout-button">
      </form>
    </div>

    <!--<form class="buy-now" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">-->
      <!--<input type="hidden" name="cmd" value="_s-xclick">-->
      <!--<input type="hidden" name="hosted_button_id" value="92PYP6KURPTK2">-->
      <!--<input type="image" src="https://www.sandbox.paypal.com/en_GB/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">-->
      <!--<img alt="" border="0" src="https://www.sandbox.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">-->
    <!--</form>-->
    <div id="buy" class="buy-now"></div>

    <%= yield %>

  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://edge.liveclicker.net/scripts/jquery.liveclicker.v1-23_c.js"></script>
<script type="text/javascript" src="/bootstrap.min.js"></script>
<script type="text/javascript" src="/carousel-timer.js"></script>
<script type="text/javascript" src="/liveclicker-list.js"></script>
<script type="text/javascript" src="/liveclicker-show.js"></script>
<script type="text/javascript" src="/checkout-process.js"></script>
</body>
</html>
