<div class="homepage-color">
  <div class="row eight columns headerLogo">
    <img src="/assets/HeaderLogo.png" height="50px"/>
  </div>


      <div  align="center"id="VideoOfTheWeek"></div>


  <div class="myFooter">
    <div class="button-size">
      <a href="/videos" style="text-decoration: none" class="orange-font nav-button">
        <span align="center">Back</span>
      </a>
    </div>
    <div class="button-size-two">
      <a href="/videos/1" style="text-decoration: none" class="orange-font nav-button">
        <span align="center">Video of the week</span>
      </a>
    </div>
  </div>
</div>
