// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-overflow{
  overflow-x:hidden;
}


div.box {
  border: 3px solid black;
  width: 420px;
  height: 200px;
  margin-left: 620px;
}